body {
    margin: 0;
    padding: 0;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FZ5EffZVTKOU%2Fmaxresdefault.jpg&f=1&nofb=1');
}

#content {
    background: #333333dd;
    backdrop-filter: blur(30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 500px;
    height: calc(100vh - 128px);
    border-radius: 16px;
    padding: 32px;
    color: white;
}

h1 {
    margin-top: 16px;
    font-weight: normal;
}